## Basic of Python

Datatype

In [2]:
1+1

2

In [3]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%3

1

In [6]:
10**2

100

In [7]:
(10+2)-(3)

9

In [7]:
##Check the Data types

In [8]:
type(False)

bool

In [36]:
type(True)

bool

In [9]:
type(123)

int

In [10]:
type('Text')

str

In [11]:
type("123.11")

str

In [12]:
type("Hello 123")

str

### Strings

In [13]:
print("Hello")

Hello

In [14]:
a = 'John'

In [48]:
print(a)

John

In [17]:
type(a)

str

### Variable Assigment

In [19]:
# syntax
# var_name=values

a=10.11

In [20]:
type(a)

float

In [21]:
a=10

In [22]:
type(a)

int

In [16]:
a='John'

In [17]:
type(a)

str

In [23]:
## Mathematical operation with Variable Assigment
a=10
b=20

In [24]:
a*b
a/b

0.5

In [25]:
print(a*b)
print(a/b)

200
0.5

In [26]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [27]:
## Various Ways of Printing

print("Hello")

Hello

In [29]:
first_name='John'
last_name='Anderson'

In [30]:
print(last_name)

Anderson

In [31]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is John and last name is Anderson

In [70]:
print("My first name is", first_name, "and last name is", last_name)

My first name is John and last name is Anderson

In [32]:
print("My First name is {a} and last name is {b}".format(b=last_name, a=first_name))

My First name is John and last name is Anderson

In [33]:
len('1118888')

7

In [26]:
type(['1',2,3,4,5])

list

In [35]:
type(list())

list

In [37]:
name='tejaswini'
id_no=1

In [38]:
print("My name is {} and my id is {}".format(name, id_no))

My name is tejaswini and my id is 1

In [39]:
f"hello {name}. My id is {id_no}"

'hello tejaswini. My id is 1'