## Python Data Structures

### Boolean Variables

Boolean values are the two constant objects False and True.

In [18]:
False

False

In [19]:
print(True,False)

True False

In [3]:
type(True)

bool

In [5]:
type(False)

bool

In [2]:
my_str='John'

In [4]:
my_str.startswith('l')

False

In [34]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('s')) #test if string endswith a d
print(my_str.startswith('l')) #test if string startswith H

False
False
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [23]:
str_example='Hello World'
my_str='Shrikant'

In [24]:
my_str.isalpha()

True

In [25]:
str_example.isnumeric()

False

In [40]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [26]:
type([])

list

In [27]:
lst_example=[]

In [28]:
type(lst_example)

list

In [29]:
lst=list()

In [30]:
type(lst)

list

In [5]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [33]:
len(lst)

6

In [32]:
type(lst)

list

In [89]:
list1 = ['A', 200, 300, 'D', 'FF', 50.89]

In [90]:
del list1[2:4]

In [91]:
list1

['A', 200, 'FF', 50.89]

### Append

In [6]:
#.append is used to add elements in the list
lst.append("Shrikant")

In [7]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Shrikant']

In [37]:
##Indexing in List
lst[0]

'Mathematics'

In [8]:
lst[:]

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Shrikant']

In [10]:
lst[1:4]

['chemistry', 100, 200]

In [9]:
lst[3:6]

[200, 300, 204]

In [40]:
lst.append(["John","Marhyy"])   # will create list inside list called as nested list

In [41]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Shrikant',
 'Shrikant',
 ['John', 'Marhyy']]

In [22]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Shrikant',
 ['John', 'Marhyy']]

### Insert

In [11]:
## insert in a specific order

lst.insert(2,"Agrawal")

In [12]:
lst

['Mathematics', 'chemistry', 'Agrawal', 100, 200, 300, 204, 'Shrikant']

In [25]:
lst.append(["Hello","World"])

In [26]:
lst

['Mathematics',
 'chemistry',
 'Agrawal',
 100,
 200,
 300,
 204,
 'Shrikant',
 ['John', 'Marhyy'],
 ['Hello', 'World']]

In [1]:
lst=[1,2,3]

In [2]:
lst.append([4,5])

In [3]:
lst

[1, 2, 3, [4, 5]]

In [18]:
lst[3][0]

4

In [19]:
lst[0]

1

### Extend Method

In [20]:
lst=[1,2,3,4,5,6]

In [21]:
lst.extend([8,9])

In [13]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [22]:
lst[0:4]

[1, 2, 3, 4]

### Various Operations that we can perform in List

In [24]:
lst=[1,2,3,4,5]

In [25]:
sum(lst)

15

In [26]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method - To remove elements

In [4]:
lst = ['Shrikant',20,30,40,'John']

In [5]:
lst

['Shrikant', 20, 30, 40, 'John']

In [8]:
lst.pop(0)

20

In [7]:
lst

[20, 30, 40, 'John']

In [71]:
lst.pop(0)

20

In [23]:
lst.pop(1)

40

In [25]:
lst

['Shrikant', 20, 30, 40, 'John']

In [9]:
# Multiply elements within the list
list = [1, 2, 3]
product=1
for x in list:
    product *= x

In [10]:
product

6

In [14]:
a=[1,2,3]
s=1
for i in a:
    s=s*i
    
print(s)

6

In [12]:
big_list = [1,2,3,4,5,6,7,8,9,10]

In [38]:
# Multipluy list with some number
my_new_list = [i * 5 for i in big_list]

In [39]:
my_new_list

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [15]:
a=[1,2,3]
b=[]
for i in a:
    j=i*2
    b.append(j)
print(b)

[2, 4, 6]

In [16]:
big_list[0:5]

[1, 2, 3, 4, 5]

In [18]:
big_list = [1,2,3,4,5,6,7,8,9,10]

In [27]:
big_list[-2:]

[9, 10]

In [23]:
big_list[-3:]

[8, 9, 10]

In [22]:
big_list[-5:-1]

[6, 7, 8, 9]

### count():Calculates total occurrence of given element of List

In [33]:
lst=[5,1,2,10,15,3,4,5]
lst.count(5)

2

In [30]:
#length:Calculates total length of List
len(lst)

6

In [35]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(4,1,8)
lst.index

6

In [99]:
lst

[5, 1, 2, 3, 4, 5]

In [104]:
lst.index(5,1,6)

5

In [51]:
##Min and Max
min(lst)

1

In [52]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. 
Order gets changed in sets - The reason for this is that set items are not ordered. If you run the same code again, it is possible that you will get an output with the elements arranged in a different order. All the elements of the above set belong to different types.

In [37]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [38]:
set_var={1,2,3,4,3}

In [39]:
set_var

{1, 2, 3, 4}

In [64]:
set_var={"Avengers","IronMan",'Hitman','Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

In [42]:
## Inbuilt function in sets

set_var.add("Shoot")

In [43]:
print(set_var)

{'Hitman', 'IronMan', 'Shoot', 'Avengers'}

In [49]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [45]:
set2.intersection_update(set1)

In [46]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [50]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [51]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [52]:
## Difference update

set2.difference_update(set1)

In [53]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [65]:
dic={}

In [66]:
type(dic)

dict

In [67]:
type(dict())

dict

In [69]:
set_ex={1,2,3,4,5}

In [70]:
type(set_ex)

set

In [71]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [72]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [73]:
my_dict['Car1']='Maruti'

In [74]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

### Nested Dictionary

In [75]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [76]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [84]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [85]:
print(car_type['car1']['Mercedes'])

1960

## Tuples - 
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

https://www.tutorialspoint.com/python/python_decision_making.htm

In [77]:
## create an empty Tuples

my_tuple=tuple()

In [78]:
type(my_tuple)

tuple

In [111]:
my_tuple=()

In [112]:
type(my_tuple)

tuple

In [82]:
my_tuple=("Shrikant","Ankur","John")

In [83]:
my_tuple=('Hello','World')

In [84]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [85]:
type(my_tuple)

tuple

In [87]:
## Inbuilt function
my_tuple.count('Hello')

1

In [3]:
v

In [4]:
list1

['A', 200, 'FF', 50.89]

In [4]:
lst=[23,43,55,12,56,19]

In [32]:
b=[]

In [38]:
for i in lst:
    if i<50:
        j=i
    b.append(j)

In [39]:
print(b)

[23, 43, 43, 12, 12, 19, 23, 43, 43, 12, 12, 19]

In [27]:
big_list = [1,2,3,4,5,6,7,8,9,10]

In [28]:
big_list[0:5]

[1, 2, 3, 4, 5]

In [29]:
big_list[-2]

9

In [40]:
big_list[-5:-1]

[6, 7, 8, 9]

In [44]:
lst=[5,1,2,3,4,5]
lst.count(5)

2

In [ ]:
lst.index

In [46]:
set1=set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [48]:
set1={1,2,3,4,5,3}

In [49]:
print(set1)

{1, 2, 3, 4, 5}

In [50]:
reema={'Avengers','Ironman','Hitman','Ironman'}

In [51]:
reema

{'Avengers', 'Hitman', 'Ironman'}

In [53]:
type(reema)

set

In [54]:
reema.add("Shoot")

In [55]:
reema

{'Avengers', 'Hitman', 'Ironman', 'Shoot'}

In [56]:
set1={'Avengers','Ironman','Hitman'}
set2={'Avengers','Ironman','Hitman','Hulk'}

In [57]:
set2.intersection_update(set1)

In [58]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [1]:
print ("hello")

hello

In [4]:
i=1
while(i<=50):
print(i)
i=i+1
for i in range(51):
print(i)

IndentationError: expected an indented block (<ipython-input-4-1240b1fb326a>, line 3)

In [5]:
a=[1,2,3,4,5,6,7,89,10]

In [19]:
for i in a:
    if i<5:
        j=i
    print(j)

1
2
3
4
4
4
4
4
4