In [1]:
import numpy as np   
import pandas as pd  
import seaborn as sns 
import matplotlib.pyplot as plt 

%matplotlib inline

In [24]:
df=pd.read_csv("/Users/reema/Downloads/Sheet.csv",index_col=0)

In [25]:
df.head()

      Series_reference Review   Period STATUS
Name
ABC                 11   Good  2011.06      A
XYZ                 22   Good  2011.08      D
LMN                 55    Avg  2012.06      M
OPQ                 55    Bad  2011.06      D
RST                 22   Good  2011.09      D

In [26]:
df=df[df["Period"]==2011.06]

In [27]:
df

      Series_reference Review   Period STATUS
Name
ABC                 11   Good  2011.06      A
OPQ                 55    Bad  2011.06      D
UVW                 11    Avg  2011.06      M

In [22]:
data1=data.loc[:,['Series_reference','Period','STATUS']]

In [23]:
data1.head()

      Series_reference   Period STATUS
Name
ABC                 11  2011.06      A
XYZ                 22  2011.08      D
LMN                 55  2012.06      M
OPQ                 55  2011.06      D
RST                 22  2011.09      D